.category-card-picture{
    border-radius: 3px;
}

.category-card-container:hover img {
  transform: scale(1.5);
  color: var(--secondary-color);
}

h2.category-card-name {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  color: black;
}


.category-card-picture {
  overflow: hidden;
  height: 270px;
}

.category-card-picture img {
    transition: transform 0.5s ease;
  width: 300px;
  height: 270px;

}
