.cart-widget-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.cart-text-and-total{
  margin-left: 5px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
}
p .cart-text-and-total {
  font-size: 14px;
  font-weight: bold;
}
.cart-icon-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0px;
  position: relative;
  width: 40px;

}
h4{
  margin: 0;

}
.cart-icon {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.items {
  border: 1px solid white;
  border-radius: 999999px;
  background-color: var(--secondary-color);
  height: 18px;
  width: 18px;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cart-total {
  font-size: 14px;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0px;
}

@media only screen and (max-width: 400px){
  .cart-text-and-total{
    display: none;
  }
}