.product-detail-picture{
    width: 400px;
}

.product-detail{
    display: flex;
    flex-direction: row;
}
.product-info{
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 20px;
    width: 50%;
}

.product-detail-name{
    font-size: 34px;
    font-weight: 200;
    text-transform: uppercase;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    text-align: left;
}

.product-detail-description{
    text-align: left;
}
.product-detail-price{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: var(--secondary-color);
    margin: 10px 0px 10px 0px;
}

.product-detail-addbuttons{
    display: inline-flex;
    gap: 10px;
}
.product-detail-addedunits {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: fit-content;
    margin-top: 10px;
    border: 5px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;

}

.product-detail-addedunits > button {
    border: 0px;
}

@media only screen and (max-width: 400px) {
    .product-detail-picture{
        width: 100%;
    }
    .product-detail {
        display: flex;
        flex-direction: column;
    }
    .product-detail-name {
        font-size: 22px;
    }
    .product-detail-price{
        font-size: 22px;
        font-weight: 700;
        text-align: left;
        color: var(--secondary-color);
    }
    .product-info{
        width: 100%;
        margin: 2px;
    }
}
