.navbar {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-between;
  align-items: flex-end;
  height: 155px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

ul {
  padding: 0px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu ul {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 10px;
  list-style-type: none;
  font-size: 14px;
}

.logo {
  width: 130px;
  height: 130px;
}

a:hover {
  border: 5px solid #ff914d;
  background-color: #ff914d;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  border: 5px solid transparent;
}
