
p{
  text-align: center;
  color: gray;
}
h1{
  text-align: center;
}

.main-container {
  width: 1170px;
  height: 100vh;
  margin: auto;
  
  background-color: #FFFFFF;


}

h1{
  font-size: 34px;
  font-weight: 200;
  text-transform: uppercase;
}