
p{
  text-align: center;
  color: gray;
}

.main-container {
  width: 1170px;
  height: 100vh;
  margin: auto;
  
  background-color: #FFFFFF;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}